

/*.page-footer{
	background-color: #870513;
	color: white;
}

.page-footer a:link{
	color: white;
}
*/
html {
	margin: 0px;
	height: 100%;
	width: 100%;
 }
 
 html, body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
	overflow-x: hidden!important;
 }

 body {
 	padding-bottom: 88px !important;
 	position: relative;

 }
 
 .text-red {
 	color:#990033;
 }
 
 .submitBtn{
	 background-color: #990033;
	 color: white;
 }
 
 .submitBtn:hover, .submitBtn:focus{
	 border-color: #990033;
	 color: white;
	 border-width: 1px;
	 background-color: #bf0241;
 }
 
 .header :link, .header :hover {
	 color: #bf0241 !important;
	 text-decoration: none;
 }
 
 #videoContainer{
	 height: 240px;
	 max-height: 240px;
	 margin-bottom: 15px;
	 margin-top: 70px;
	 border-color: #eeedec;
	 border-style: solid;
	 border-width: 2px;
 }
 
 #JSONContainer{
	 height: 240px;
	 max-height: 240px;
	 overflow-y: scroll;
	 border-color: #eeedec;
	 border-style: solid;
	 border-width: 2px;
	 margin-bottom: 15px;
	 margin-top: 60px;
 }
 
 #containerPag{
	 padding: 0 50px 0 50px;
 }
 
 .form-control:focus {
	 border-color:#ea5e71;
 }
 
 #JSONText{
	 margin: 5px 5px 5px 5px;
 }
 
 video {
	 max-height: 236px;
	 height: auto;
	 width: auto;
 }

 .mt-30 {
 	margin-top: 30px;
 }
 
.disableGrey {
	position:absolute;
	top:0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: #ebebeb;
	backdrop-filter: blur(4px);
	opacity:.4;
	z-index: 2;
}

#spinner {
	position: :absolute;
	z-index: 99;
	margin-top:10px;
}

 .loader {
   border: 8px solid #f3f3f3 !important;
   border-radius: 50%;
   border-top: 8px solid #990033 !important;
   width: 60px;
   height: 60px;
   -webkit-animation: spin 2s linear infinite !important; /* Safari */
   animation: spin 2s linear infinite !important; 
   z-index: 999 !important;
 }
 
 /* Safari */
 @-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }
 
 .center {
   position: absolute;
   top: 33%;
   left:43%;
 }

 .fixed {
 	bottom: 0 !important;
 	position: absolute !important;
 }
 
 footer {
	 margin-top: 50px;
	 position: absolute !important;
	 height: 88px !important;
	 /*bottom: 0;*/
	 background-color: #ebebeb;
	 width: 100% !important;
 }
 
 /*+++++++++++++++++++++++++++++ Miembros +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 
 
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
 
 html, body{
	 margin:0;
	 padding:0;
	 overflow-x: hidden!important;
 }
 
 
 *{
   margin: 0;
   padding: 0;
   font-family: "montserrat",sans-serif;
   box-sizing: border-box;
 }
 
 .header{
   height: 100px;
   background: #fff;
   padding: 0 20px;
   color: #990033;
   border-bottom: 5px solid #990033;
 }
 .logo{
   line-height: 100px;
   float: left;
   text-transform: uppercase;
 
 }
 
 .menu{
   float: right;
   line-height: 100px;
 
 }
 .menu a{
   color: #990033;
   text-transform: uppercase;
   text-decoration: none;
   padding: 0 10px;
   transition: 0.4s;
 
 }
 .show-menu-btn,.hide-menu-btn{
   transition: 0.4s;
   font-size: 30px;
   cursor: pointer;
   display: none;
 
 }
 .show-menu-btn{
   float: right;
 }
 .show-menu-btn i{
   line-height: 100px;
 }
 .menu a:hover,
 .show-menu-btn:hover,
 .hide-menu-btn:hover{
   color: black;
 
 }
 
 #chk{
   position: absolute;
   visibility: hidden;
   z-index: -1111;
 }
 
 @media screen and (max-width:800px) {
 
	 html, body {
		overflow-x: hidden!important;
	 }
 	body {
 		padding-bottom: 88px;
 	}
   .show-menu-btn,.hide-menu-btn{
	 display: block;
   }
   .menu{
	 position: absolute;
	 width: 100%;
	 height:100%;
	 right: -1000%;
	 top: 0;
	 text-align: center;
	 padding: 80px 0;
	 line-height: normal;
	 transition: 0.7s;
	 z-index: 999999;
   }
   .menu a{
	 display: block;
	 padding: 20px;
   }
   .hide-menu-btn{
	 position: absolute;
	 top: 40px;
	 right: 40px;
   }
   #chk:checked ~ .menu{
	 right: 0;
	 background: #bebebe;
   }
 
   #JSONContainer{
	 height: 230px;
	 max-height: 230px;
	 overflow-y: scroll;
	 border-color: #eeedec;
	 border-style: solid;
	 border-width: 2px;
	 margin-bottom: 15px;
	 margin-top: 25px;
	 position: relative;
   }
 
   video {
	 /*max-height: 230px;*/
	 height: auto;
	 width: auto;
   }
 
   footer {
	 margin-top: 150px;
	 /*position: relative !important;*/
	 height: 88px !important;
	 /*bottom: 0;*/
	 background-color: #ebebeb;
   }
   #imageContainer {
   	justify-content: center;
   }
 }
 
 
 
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
 
 html, body{
	 margin:0;
	 padding:0;
	 overflow-x: hidden!important;
	 
 }
 body {
 	padding-bottom: 88px;
 }
 *{
	 box-sizing: border-box;
 }
 
 .container2{
	 max-width:1140px;
	 margin:auto;
	 min-height: 400px;
	 /*margin-left: 500px;*/
 }
 
 .team{
	 padding:60px 15px;
	 background-color:#fff; 
	 float: left;
	 width: 100%;
	 
 }
 
 .team2{
	 padding:60px 15px;
	 background-color: #F9F9F9; 
	 float: left;
	 width: 100%;
 }
 
 .title{
	 font-size: 36px;
	 font-family: open sans;
	 font-weight: 700;
	 color: #424242;
	 margin:0;
	 padding-bottom:60px;
	 text-align: center;
 
 }
 
 .card{
	 width:25%;
	 float: left;
	 padding:0px 15px;
	 
 }
 .box {
	 transition: margin 3s ease,box-shadow 2s ease;
	 border-radius:5px;
	 padding:15px;
	 
 
	 
 }
 .team .box{
	 background-color: #fff;
 }
 
 .team2 .box{
	 background-color: #F9F9F9;
	 
 }
 
 .box:hover{
	 margin-top:-15px;
	 box-shadow:0px 0px 40px black;
 }
 .box .name{
	 height: 80px;
 }
 
 .box img{
	 width:150px;
	 display: block;
	 margin:10px auto;
	 border-radius:50%;
 
 }
 
 .box h4{
	 font-size: 20px;
	 font-family: open sans;
	 margin:20px 0px 10px;
	 color:#990033;
	 text-align: center;
	 font-weight: 700;
 }
 
 .box h5{
	 font-size:16px;
	 font-family: open sans;
	 font-weight: 600;
	 color:#424242;
	 margin:0px 0px 15px;
	 text-align: center;
 }
 .box p{
	 color:#b9b9b9;
	 font-size: 15px;
	 font-family: open sans;
	 font-weight: 400;
	 line-height: 24px;
	 text-align: center;
	 padding:0px 20px;
 }
 
 @media(max-width: 1780px){
 
	 html, body {
		overflow-x: hidden!important;
	 }
 	body {
 		padding-bottom: 88px;
 	}
	 .card2{
		 width:50% !important;
		 margin-bottom:30px;
	 }
	 .card3{
		 width:33% !important;
		 margin-bottom:30px;
	 }
 
	 .container2{
		 margin:auto;
	 }
 
	 .container2{
		 margin:auto;
	 }
 
	 footer {
	 margin-top: 50px;
	 /*position: absolute !important;*/
	 height: 88px !important;
	 /*bottom: 0;*/
	 background-color: #ebebeb;
   }
 
 }
 
 
 
 
 @media(max-width: 1200px){
	 html, body {
		overflow-x: hidden!important;
	 }
 	body {
	 	padding-bottom: 88px;
	 }
	 .card2{
		 width:50% !important;
		 margin-bottom:30px;
	 }
	 .card3{
		 width:33% !important;
		 margin-bottom:30px;
	 }
 
	 .container2{
		 margin:auto;
	 }
 
	 .container2{
		 margin:auto;
	 }
 
	 footer {
	 margin-top: 50px;
	 /*position: absolute !important;*/
	 height: 88px !important;
	 /*bottom: 0;*/
	 background-color: #ebebeb;
   }
 
 }
 
 
 /*responsive*/
 
 @media(max-width: 991px){
	 /*.card{
		 width:50%;
		 margin-bottom:30px;
		 
	 }*/
 
 
	 html, body {
		overflow-x: hidden!important;
	 }
 	body {
 		padding-bottom: 88px;
 	}

	 .card2, .card3{
		 width:100% !important;
		 
	 }	
 
	 .container2{
		 margin:auto;
	 }
 
	 footer {
	 margin-top: 50px;
	 /*position: relative !important;*/
	 height: 100px !important;
	 /*bottom: 0;*/
	 background-color: #ebebeb;
   }
 
 }
 
 @media(max-width:550px){
 
	 html, body {
		overflow-x: hidden!important;
	 }
	 body {
	 	padding-bottom: 88px;
	 }
	 .card2, .card3{
		 width:100% !important;
		 
	 }	
 
	 .container2{
		 margin:auto;
	 }
 
	 footer {
	 margin-top: 50px;
	 /*position: relative !important;*/
	 height: 88px !important;
	 /*bottom: 0;*/
	 background-color: #ebebeb;
   }
 
 }
 
 
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#imageContainer, #JSONContainer, #videoContainer {
	margin-top: 30px;
	margin-bottom: 30px;
}

.imageLSE {
	width: auto;
	height: 200px;
}

.noDisplay {
	display: none;
}

figure { 
	display: table;  
	margin-bottom:10px;    
}

figcaption{
    display: table-caption; 
	caption-side: bottom ;
    padding-top:10px;
    text-align: center;
}
